# Python Intro - Final Exercise

In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
conn=pyodbc.connect("Driver={SQL Server Native Client 11.0};"

                      "Server=DESKTOP-3IEJBD7\SQLEXPRESS;"

                      "Database=college;"

                      "Trusted_Connection=yes;")

InterfaceError: ('28000', '[28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Login failed for user \'DESKTOP-3IEJBD7\\adibb\'. (18456) (SQLDriverConnect); [28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Cannot open database "college" requested by the login. The login failed. (4060); [28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Login failed for user \'DESKTOP-3IEJBD7\\adibb\'. (18456); [28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Cannot open database "college" requested by the login. The login failed. (4060)')

In [ ]:
### Get the students table
students = pd.read_sql("SELECT * FROM Students;",conn)

# Questions
 
 
## Q1. Count the number of students on each department

## Q2. How many students have each course of the English department and the total number of students in the department?

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

## Q5. For which courses the percentage of male/female students is over 70%?

## Q6. For each department, how many students passed with a grades over 80?

## Q7. For each department, how many students passed with a grades under 60?

## Q8. Rate the teachers by their average student's grades (in descending order).

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).